<div class="app-body">
	<div class="container-fluid">
				<div class="card">
					<div class="card-body">
						<div class="panel-group" id="accordion">
					    <div class="panel panel-default">
					      <div class="panel-heading">
					        <h4 class="panel-title">
					          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Website chính thức đi vào hoạt động vào thời gian nào ?</a>
					        </h4>
					      </div>
					      <div id="collapse1" class="panel-collapse collapse in">
					        <div class="panel-body">Website đi vào hoạt động vào ngày 26/03/2019.</div>
					      </div>
					      <hr>
					    </div>
					    <div class="panel panel-default">
					      <div class="panel-heading">
					        <h4 class="panel-title">
					          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Website sử dụng ngôn ngữ lập trình nào ?</a>
					        </h4>
					      </div>
					      <div id="collapse2" class="panel-collapse collapse">
					        <div class="panel-body">Angular 4 và Php.</div>
					      </div>
					      <hr>
					    </div>
					    <div class="panel panel-default">
					      <div class="panel-heading">
					        <h4 class="panel-title">
					          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Làm sao để tải phần mềm ?</a>
					        </h4>
					      </div>
					      <div id="collapse3" class="panel-collapse collapse">
					        <div class="panel-body">Phần mềm được chúng tôi chia sẻ miễn phí ở mục TẢI VỀ, bạn có thể vào tìm kiếm và tài phần mềm bạn đang cần.</div>
					      </div>
					      <hr>
					    </div>
					    <div class="panel panel-default">
					      <div class="panel-heading">
					        <h4 class="panel-title">
					          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Lợi ích khi đăng kí làm thành viên ?</a>
					        </h4>
					      </div>
					      <div id="collapse4" class="panel-collapse collapse">
					        <div class="panel-body">Được chat với quản trị viên để yêu cầu giúp đỡ, đáng giá phần mềm. Ngoài ra bạn có thể đăng kí thành viên VIP với nhiều chức năng nâng cấp.</div>
					      </div>
					      <hr>
					    </div>
					  </div> 
					</div>
				</div>
	</div>
</div>

