<div class="app-body" > 
	<div class="card">
		<div class="card-body">
			<main >
			  	<div data-spy="scroll" data-target=".navbar" >
					<nav class="navbar navbar-defaults " >
						<div class="container-fluid">
					      <ul class="nav">
					        <li ><a class="nav-link" href="about#info">THÔNG TIN</a></li>
					        <li ><a class="nav-link" href="about#product">SẢN PHẨM</a></li>
					        <li ><a class="nav-link" href="about#team">ĐỘI NGŨ</a></li>
					      </ul>
					  </div>
					</nav>

				<div class="jumbotron text-center" style="background: #20A8D8 ; color: white">
				  <h1>Về chúng tôi</h1> 
				</div>

				<!-- Container (About Section) -->
				<div id="info" class="container-fluid">
				  <div class="row">
				    <div class="col-md-7">
				    	<h2>Thông tin</h2>
			     		<p>Tiền thân của Khoa Khoa học và Kỹ thuật Máy tính là Bộ môn Điện.</p>
			     		<p>Khoa đào tạo ở các bậc đại học, cao học và tiến sỹ. Có hai ngành đào tạo ở bậc đại học là Khoa học Máy tính và Kỹ thuật Máy tính. Mục tiêu chính của chương trình đào tạo là cung cấp cho sinh viên các kiến thức cần thiết để có thể làm việc ở các trường đại học và các công ty.</p>
				    </div>
				    <div class="col-md-5">
				      <img src="../../../assets/img/truong.jpg" alt=""/>
				    </div>
				   </div>
				  </div>

				<div class="container-fluid bg-grey" id="product" style="margin-top: 50px">
				  <div class="row">
				    <div class="col-md-5">
				      <img src="../../../assets/img/sanpham.jpg" alt=""/>
				    </div>
				    <div class="col-md-7">
				      <h2>Sản phẩm</h2>
				      <p>Trang web cung cấp những phần mềm miễn phí và hữu dụng cho sinh viên chuyên ngành khoa học máy tinh, đặc biệt là sinh viên Đại học Bách khoa Hồ Chí Minh.</p>
				      <p>Với dữ liệu lên tới hàng trăm nghìn phần mềm thuộc các thể loại khác nhau như phần mềm hệ thống, phần mềm văn phòng, đồ họa, chỉnh sửa ảnh, game HOT thuộc nhiều thể loại, các tài liệu văn bản pháp luật, game và ứng dụng hữu ích cho mọi nền tảng.</p>
				    </div>
				  </div>
				</div>

				<div id="team" class="testimonials wrapper">
				  <h2>Đội ngũ</h2>
				  <div class = "ui-g-12 ui-md-12 testimonials wrapper">
							<div class="ui-md-4 testi_boxs">
									<img class="avatar" src="../../../assets/img/bkhcm.jpg" alt=""/>
									<h2>Ngô Hoàng Ngọc Thanh</h2>
									<p>1827030</p>
							</div>
							<div class="ui-md-4 testi_boxs">
									<img class="avatar" src="../../../assets/img/bkhcm.jpg" alt=""/>
									<h2>Nguyễn Duy Việt Toàn</h2>
									<p>1513539</p>
							</div>
							<div class="ui-md-4 testi_boxs">
									<img class="avatar" src="../../../assets/img/bkhcm.jpg" alt=""/>
									<h2>Lê Kỳ Vọng</h2>
									<p>1414721</p>
							</div>
					</div>
				</div>
			  </div>
 			</main>
		</div>
	</div>
  
</div>
